/*@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); */

* {
  margin: 0;
  font-family: "Arial";
}
body, html , .app,#root {
height: 100%;
background-color: #4d609e;
}
.app {
  display: flex;
  flex-flow: column;
}
.navbar {
  padding: 20px;
  display: flex;
  width: 96%;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #6c86db;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.content {
  flex-grow: 1;
  display: grid;
  grid-auto-flow: column dense; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "home home topinfo"
    "home home time"
    "home home botinfo"; 
}
.home {
  grid-area: home;
  flex-flow: column;
  }
.time { grid-area: time;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #645459;
  border-bottom: 1px solid #6c86db;
  border-radius: 8px;
  margin: 10px 10px 0px 0px;
}
  
.time h1 {
  text-align: center;
  font-size: 80px;
}
.info {
  background-color: #645459;
  border-bottom: 1px solid #6c86db;
  border-radius: 8px;
  margin: 10px 0px 0px 10px;
  font-size: 30px;
}
.one{ grid-area: topinfo;}
.two{ grid-area: botinfo;}

div.timeline ,div.timeline-spe{
  padding: 10px 16px;
  margin: 50px 20px;
  background-color: #645459;
  border-bottom: 1px solid #6c86db;
  box-shadow: 1px 1px 3px 5px rgba(0,0,0,0.1);
  border-radius: 8px;
}
div.timeline-spe{
  background-color: #be1447;
  border-bottom: 5px solid #aa123f;
}
div.timeline h2{
  text-align: center;
  font-size:72px;
}
div.timeline-spe h2{
  text-align: center;
  font-size:100px;
}
.admin {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.admin button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px 8px;
  margin: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.create p {
  text-align: left;
  display: block;
}
.admin input, .admin textarea, .admin select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
